*{
margin: 0;
padding: 0;
}

html {
    font-size: 70%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', serif;
}

.btn a{
    text-decoration: none !important;
    color: black!important;
}


.about-heading h1,.education-heading h1, .skills-heading h1,.contact-heading h1,.portfolio-heading h1{
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 5rem;
}

.copyright p{
    font-size: 1.5rem;
}

nav li{
    font-size: 1.7rem;
    margin:0rem 2rem 0rem 1rem;
}

nav .btn{
    font-size: 1.7rem;
}

nav .btn:hover{
    background: white;
    color: black;
}

.hello{
    font-weight: 800;
    font-size: 10rem;
}

.jumbotron {
    background-image: url("/practice/intro.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 53rem;
    color: white;
    padding-top: 15rem;
  }
.border-intro{
    border: 10px double white;
}
.name{
    font-size: 3.6rem;
}

.web{
    font-size: 2rem;
}


#web-logo{
    width: 30rem;
    height: 30rem;
}

#web-logo2{
    width: 30rem;
    height: 30rem;
}

.card p, .card span{
    font-size: 1.6rem;
    padding: 3rem 0rem 2rem 0rem;
}

.about p{
    font-size: 2rem;
    font-weight: 500;
    padding: 3rem 0rem 2rem 0rem;
}
