html {
    font-size: 70%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', serif;
}


.intro-left{
    margin: 0rem 0rem 0rem 10rem;
}

.btn a{
    text-decoration: none !important;
    color: black!important;
}
.intros{
    background: linear-gradient(to right,rgb(212, 243, 245),white);
}


.about-heading h1,.education-heading h1, .skills-heading h1,.contact-heading h1,.portfolio-heading h1{
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 5rem;
}

.copyright p{
    font-size: 1.5rem;
}

nav li{
    font-size: 1.7rem;
    margin:0rem 2rem 0rem 1rem;
}

nav .btn{
    font-size: 1.7rem;
}

nav .btn:hover{
    background: white;
    color: black;
}
.hello{
    font-weight: 800;
    font-size: 10rem;
}


.name{
    font-size: 3.6rem;
}

.web{
    font-size: 2rem;
}

.intro-right img{
    width: 60rem;
    height: 60rem;
}

#web-logo{
    width: 30rem;
    height: 30rem;
}

#web-logo2{
    width: 30rem;
    height: 30rem;
}

.card p, .card span{
    font-size: 1.6rem;
    padding: 3rem 0rem 2rem 0rem;
}

.about p{
    font-size: 2rem;
    font-weight: 500;
    padding: 3rem 0rem 2rem 0rem;
}
